.timeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -209px;
  width: 423px;
  height: 150px;
  text-align: center;
  font-size: 2em;
  p {
    margin: 0;
    top: 1em;
  }
}
