@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: overlay;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 6px;
}
